<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="styles.css">
        <title>Shopping Cart</title>
    </head>
    <body>
        <div class="body-container">
            <div id="app">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Mugs Are Us!</h1>
                        <p class="lead">We sell... Mugs</p>
                        <img @click="displayCart()" class="icon" id="icon" src="images/carticon.png" alt="cart">
                        <a><img class="icon add" id="add" src="images/add.png" alt="add"> </a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;" v-for="item in items">
                    <img v-bind:src = item.img>
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <h6 class="card-title">Price: {{item.price}}</h6>
                        <h6 class="card-title">Stock: {{item.stock}}</h6>                        
                        <a class="btn btn-primary" id="buttonAdd"  @click="addHandler(item)">Add to Cart</a>
                    </div>                    
                </div>

                <ul class="list-group">                                                         
                    <li id="cartItems" class="list-group-item list-group-item-primary" v-for="item in items">
                        Name: {{item.name}} Price: ${{item.price}} Ordered: {{item.ordered}} SubTotal: {{item.price * item.ordered}}
                        <a class="btn btn-primary" id="buttonRemove"  @click="removeFromCart(item)">Remove Item</a>
                    </li>
                    <li v-show="total" class="list-group-item list-group-item-primary"><span>Total: ${{total}}</span></li>                           
                </ul>
            </div>
        </div>        
        <!-- Optional JavaScript -->
        <script src="scripts.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>